<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping class="org.module.sysadmin.model.SecGroup"/>
    <mapping class="org.module.sysadmin.model.SecGroupright"/>
    <mapping class="org.module.sysadmin.model.SecRight"/>
    <mapping class="org.module.sysadmin.model.SecRole"/>
    <mapping class="org.module.sysadmin.model.SecRolegroup"/>
    <mapping class="org.module.sysadmin.model.SecUser"/>
    <mapping class="org.module.sysadmin.model.SecUserrole"/>
    <mapping class="org.module.hr.model.OhrmProjectActivity"/>
    <mapping class="org.module.hr.model.OhrmProject"/>
    <mapping class="org.module.hr.model.OhrmPerformanceReview"/>
    <mapping class="org.module.hr.model.OhrmLeave"/>
    <mapping class="org.module.hr.model.HsHrEmpDependents"/>
    <mapping class="org.module.hr.model.OhrmSelectedDisplayFieldGroup"/>
    <mapping class="org.module.hr.model.OhrmLeaveLeaveEntitlement"/>
    <mapping class="org.module.hr.model.HsHrUniqueId"/>
    <mapping class="org.module.hr.model.HsHrEmpUsTax"/>
    <mapping class="org.module.hr.model.HsHrEmpChildren"/>
    <mapping class="org.module.hr.model.OhrmTimesheetItem"/>
    <mapping class="org.module.hr.model.OhrmLeaveType"/>
    <mapping class="org.module.hr.model.OhrmPayGradeCurrency"/>
    <mapping class="org.module.hr.model.HsHrProvince"/>
    <mapping class="org.module.hr.model.OhrmEmailNotification"/>
    <mapping class="org.module.hr.model.OhrmSkill"/>
    <mapping class="org.module.hr.model.OhrmOrganizationGenInfo"/>
    <mapping class="org.module.hr.model.OhrmUser"/>
    <mapping class="org.module.hr.model.OhrmSelectedFilterField"/>
    <mapping class="org.module.hr.model.OhrmScreen"/>
    <mapping class="org.module.hr.model.OhrmPerformanceTrack"/>
    <mapping class="org.module.hr.model.HsHrCustomExport"/>
    <mapping class="org.module.hr.model.OhrmOauthUser"/>
    <mapping class="org.module.hr.model.OhrmJobVacancyAttachment"/>
    <mapping class="org.module.hr.model.OhrmSummaryDisplayField"/>
    <mapping class="org.module.hr.model.OhrmModuleDefaultPage"/>
    <mapping class="org.module.hr.model.OhrmCompositeDisplayField"/>
    <mapping class="org.module.hr.model.OhrmAvailableGroupField"/>
    <mapping class="org.module.hr.model.OhrmWorkWeek"/>
    <mapping class="org.module.hr.model.OhrmPayGrade"/>
    <mapping class="org.module.hr.model.OhrmLocation"/>
    <mapping class="org.module.hr.model.OhrmPlugin"/>
    <mapping class="org.module.hr.model.OhrmFilterField"/>
    <mapping class="org.module.hr.model.OhrmRoleUserSelectionRule"/>
    <mapping class="org.module.hr.model.OhrmLeaveAdjustment"/>
    <mapping class="org.module.hr.model.OhrmTimesheetActionLog"/>
    <mapping class="org.module.hr.model.OhrmLogin"/>
    <mapping class="org.module.hr.model.OhrmWorkShift"/>
    <mapping class="org.module.hr.model.HsHrCurrencyType"/>
    <mapping class="org.module.hr.model.OhrmLeaveEntitlement"/>
    <mapping class="org.module.hr.model.OhrmJobInterviewAttachment"/>
    <mapping class="org.module.hr.model.OhrmJobInterview"/>
    <mapping class="org.module.hr.model.OhrmUserRoleDataGroup"/>
    <mapping class="org.module.hr.model.OhrmEmpTermination"/>
    <mapping class="org.module.hr.model.OhrmHoliday"/>
    <mapping class="org.module.hr.model.HsHrEmpWorkExperience"/>
    <mapping class="org.module.hr.model.HsHrEmpHistoryOfEalierPos"/>
    <mapping class="org.module.hr.model.OhrmDatapointType"/>
    <mapping class="org.module.hr.model.OhrmAdvancedReport"/>
    <mapping class="org.module.hr.model.OhrmJobCategory"/>
    <mapping class="org.module.hr.model.OhrmReportGroup"/>
    <mapping class="org.module.hr.model.OhrmDatapoint"/>
    <mapping class="org.module.hr.model.OhrmOperationalCountry"/>
    <mapping class="org.module.hr.model.OhrmDisplayFieldGroup"/>
    <mapping class="org.module.hr.model.HsHrEmpReportto"/>
    <mapping class="org.module.hr.model.OhrmEmailConfiguration"/>
    <mapping class="org.module.hr.model.OhrmDataGroupScreen"/>
    <mapping class="org.module.hr.model.OhrmEmpLicense"/>
    <mapping class="org.module.hr.model.OhrmSelectedGroupField"/>
    <mapping class="org.module.hr.model.OhrmNationality"/>
    <mapping class="org.module.hr.model.OhrmReviewerRating"/>
    <mapping class="org.module.hr.model.OhrmGroupField"/>
    <mapping class="org.module.hr.model.HsHrEmpContractExtend"/>
    <mapping class="org.module.hr.model.OhrmReviewer"/>
    <mapping class="org.module.hr.model.HsHrEmpPassport"/>
    <mapping class="org.module.hr.model.HsHrEmpAttachment"/>
    <mapping class="org.module.hr.model.OhrmOauthAuthorizationCode"/>
    <mapping class="org.module.hr.model.OhrmUpgradeHistory"/>
    <mapping class="org.module.hr.model.HsHrEmpMemberDetail"/>
    <mapping class="org.module.hr.model.OhrmUserRoleScreen"/>
    <mapping class="org.module.hr.model.OhrmEmpTerminationReason"/>
    <mapping class="org.module.hr.model.OhrmPerformanceTrackerLog"/>
    <mapping class="org.module.hr.model.OhrmModule"/>
    <mapping class="org.module.hr.model.OhrmJobCandidateAttachment"/>
    <mapping class="org.module.hr.model.OhrmOauthAccessToken"/>
    <mapping class="org.module.hr.model.OhrmProject"/>
    <mapping class="org.module.hr.model.OhrmMembership"/>
    <mapping class="org.module.hr.model.OhrmUserSelectionRule"/>
    <mapping class="org.module.hr.model.OhrmOauthClient"/>
    <mapping class="org.module.hr.model.OhrmMenuItem"/>
    <mapping class="org.module.hr.model.OhrmSelectedDisplayField"/>
    <mapping class="org.module.hr.model.HsHrCustomImport"/>
    <mapping class="org.module.hr.model.HsHrEmpEmergencyContacts"/>
    <mapping class="org.module.hr.model.OhrmLicense"/>
    <mapping class="org.module.hr.model.OhrmAttendanceRecord"/>
    <mapping class="org.module.hr.model.OhrmSelectedCompositeDisplayField"/>
    <mapping class="org.module.hr.model.HsHrCustomFields"/>
    <mapping class="org.module.hr.model.OhrmReport"/>
    <mapping class="org.module.hr.model.OhrmLeaveRequest"/>
    <mapping class="org.module.hr.model.OhrmEmailTemplate"/>
    <mapping class="org.module.hr.model.HsHrEmpBasicsalary"/>
    <mapping class="org.module.hr.model.HsHrDistrict"/>
    <mapping class="org.module.hr.model.OhrmLeaveEntitlementAdjustment"/>
    <mapping class="org.module.hr.model.OhrmEmpEducation"/>
    <mapping class="org.module.hr.model.OhrmEmpReportingMethod"/>
    <mapping class="org.module.hr.model.HsHrPayPeriod"/>
    <mapping class="org.module.hr.model.OhrmReviewerGroup"/>
    <mapping class="org.module.hr.model.OhrmKpi"/>
    <mapping class="org.module.hr.model.HsHrEmpDirectdebit"/>
    <mapping class="org.module.hr.model.OhrmJobVacancy"/>
    <mapping class="org.module.hr.model.OhrmLeaveComment"/>
    <mapping class="org.module.hr.model.OhrmAuthProviderExtraDetails"/>
    <mapping class="org.module.hr.model.OhrmJobTitle"/>
    <mapping class="org.module.hr.model.HsHrEmployee"/>
    <mapping class="org.module.hr.model.OhrmOauthRefreshToken"/>
    <mapping class="org.module.hr.model.OhrmJobCandidateVacancy"/>
    <mapping class="org.module.hr.model.OhrmOpenidProvider"/>
    <mapping class="org.module.hr.model.OhrmBeaconNotification"/>
    <mapping class="org.module.hr.model.OhrmWorkflowStateMachine"/>
    <mapping class="org.module.hr.model.OhrmEmailProcessor"/>
    <mapping class="org.module.hr.model.OhrmJobCandidate"/>
    <mapping class="org.module.hr.model.HsHrCountry"/>
    <mapping class="org.module.hr.model.OhrmEmailSubscriber"/>
    <mapping class="org.module.hr.model.OhrmJobCandidateHistory"/>
    <mapping class="org.module.hr.model.HsHrConfig"/>
    <mapping class="org.module.hr.model.OhrmSubunit"/>
    <mapping class="org.module.hr.model.HsHrEmpPicture"/>
    <mapping class="org.module.hr.model.OhrmDataGroup"/>
    <mapping class="org.module.hr.model.OhrmEmail"/>
    <mapping class="org.module.hr.model.OhrmLeaveStatus"/>
    <mapping class="org.module.hr.model.OhrmDisplayField"/>
    <mapping class="org.module.hr.model.OhrmUserRole"/>
    <mapping class="org.module.hr.model.OhrmJobSpecificationAttachment"/>
    <mapping class="org.module.hr.model.OhrmCustomer"/>
    <mapping class="org.module.hr.model.OhrmEducation"/>
    <mapping class="org.module.hr.model.OhrmEmploymentStatus"/>
    <mapping class="org.module.hr.model.AbstractDisplayField"/>
    <mapping class="org.module.hr.model.OhrmTimesheet"/>
    <mapping class="org.module.hr.model.OhrmPerformanceTrackerReviewer"/>
    <mapping class="org.module.hr.model.OhrmLanguage"/>
    <mapping class="org.module.hr.model.HsHrPayperiod_1"/>
    <mapping class="org.module.hr.model.OhrmLeaveEntitlementType"/>
    <mapping class="org.module.hr.model.OhrmHomePage"/>
    <mapping class="org.module.hr.model.OhrmLeavePeriodHistory"/>
    <mapping class="org.module.hr.model.HsHrEmpLanguage"/>
    <mapping class="org.module.hr.model.OhrmLeaveRequestComment"/>
    <mapping class="org.module.hr.model.OhrmWsConsumer"/>
    <mapping class="org.module.hr.model.HsHrModule"/>
  </session-factory>
</hibernate-configuration>